. <form action="/dashboard/attendance/trainees" method="post">
  <div class="row">
    <div class="col-12">

      <table class="table table-bordered">

        <thead>
          <tr>
            <th scope="col">SL</th>
            <th scope="col">Trainee Name</th>
            <th scope="col">Token Number</th>
            <th scope="col">Attendance</th>
          </tr>
        </thead>

        <tbody>

                <label >P</label>
                <input type="text"  name=course value={{trainees.[0].course}} >
                <label >A</label>
                <input type="text"  name=year value={{trainees.[0].year}} >
          {{#each trainees}}
          <tr>

            <th scope="row">{{this.firstname}}</th>
            <td>xxx</td>
            <td>xxx</td>
            <td>
                <label >P</label>
                <input type="radio"  name="{{this.tokennumber}}" value=true class="button_p" checked="checked">
                <label >A</label>
                <input type="radio"  name="{{this.tokennumber}}" value=false class="button_a">
                
                
                
            </td>

          </tr>
          {{/each}}
          

        </tbody>

      </table>
    </div>
  </div>
  <button type="submit" class="excel_submit_button">Submit</button>
</div>



</form>


<style>
  .button_p{
    accent-color: green;
    width: 15px;
    height: 15px;
  }
  .button_a{
    accent-color: red;
    width: 15px;
    height: 15px;
  }
</style> 



